body{
    background-image: url(../imagenes/f60e468dfe60904511d263d3435a836b.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1{
        color:red;
        font-family: "Poetsen One", sans-serif;
        
}
.primerParrafo{
    color: blue;
}

